*
!*/
!/.gitignore
!/assets/**/*.js
!/assets/**/*.pcss
!/netlify.toml
!/package*.json
!/postcss.config.js
!/purgecss.config.js
!/public/images/**
!/public/index.html
!/tailwind.config.js
!/webpack.config.js
